@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,300&family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu',sans-serif;
    
}

nav ul li{
     padding: 0px 12px;
}

nav ul{
    display: flex;
    list-style-type: none;
    height:65px;
    background-color: black;
    color: white;
    align-items: center;
}

.brand img{
    width:44px;
    padding: 0px 8px;
}

.container{
    min-height: 120vh;
    background-color: black;
    color: white;
    display: flex;
    margin: 20px auto;
    width:90%;
    border-radius:12px;
    padding: 24px;
    background-image: url('bg.jpg');
    background-size: cover;
    
  
}

.songItemContainer{
    margin-top: 74px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.bottom{
    position: sticky;
    bottom:0;
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.icons{
    margin-top: 12px;
}

.icons i{
    cursor:pointer;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}


.songItem{
    height:50px;
    display: flex;
    background-color: white;
   
    color: black;
    margin: 12px 0px;
    justify-content: space-between;
    align-items: center;
    border-radius: 32px;


}
.songItem img{
    width: 43px;
    margin: 0px 23px;
    border-radius: 34px;
}

.timeStamp{
    margin: 0px 23px;
   
}

.timeStamp i{
     cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round',sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 1s ease-in;
    
}